   
  

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow: scroll;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 99999 !important;
  overflow: scroll;
}

.popup {
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 69%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 80%;
  overflow: auto;
  font-size: 18px;
}
.img-cookies{
  width: 100%;
  height: auto;
    margin-top: 30px;
    border-radius: 10px;
}
.slider-container{
  height: 400px;
}
@media screen and (max-width: 700px){
  .slider-container{
    height: 230px;
  }
}
@media screen and (min-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
  .slider-container{
    height: 300px;
  }
}
@media only screen and (max-width: 600px) {
  .slider-container{
    height: 159px;
  }
}

@media screen and (max-width: 1200px){
  .div-img-cookies{
    display:none
  }
}
@media screen and (max-width: 1200px){
  .div-img-cookies{
    display:none
  }
}
@media screen and (min-width: 1200px){
  
  .slider-container{
    height: 348px;
  }
}